<a href="https://colab.research.google.com/github/mco-gh/pylearn/blob/master/notebooks/7_Iterables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 7 - Iterables

**Tuples, Lists, and Dictionaries**

**Make a copy of this notebook by selecting File->Save a copy in Drive from the menu bar above.**

- <a target="_blank" href="https://colab.research.google.com/github/mco-gh/pylearn/blob/master/notebooks/7_Iterables.ipynb">Open this notebook in Colab</a>
- <a target="_blank" href="https://github.com/mco-gh/pylearn/blob/master/notebooks/7_Iterables.ipynb">Open this notebook in Github</a>

[Previous Lesson](https://pylearn.io/lessons/6-Functions/)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
[Next Lesson](https://pylearn.io/lessons/8-Files/)

## Mutability

Some data types can be changed (mutable) and some cannot. For example, strings are immutable. For this reason, you cannot assign values to the characters in a string. And when you call a function that seems to modify a string, it actually creates a new string and (normally) disposes of the old one.

In [1]:
s = 'Susan X. Anthony'
print('sixth char:', s[6])
s[6] = 'B'

sixth char: X

TypeError: 'str' object does not support item assignment

In [2]:
print(s)
s = 'Susan B. Anthony'
print(s)

Susan X. Anthony
Susan B. Anthony

# Tuples

Tuples are ordered collections, i.e. sequences, like strings, but they can contain any type of value (not just characters). They can even contain different types within the same tuple. Tuples are defined by parentheses (i.e. brackets) and the elements of a tuple are separated by commas, like this:

```('a', 'b', 'c', 1, 2, 3)```.

[Tuple documentation](https://docs.python.org/3/library/stdtypes.html#tuple)

## Creating Tuples

In [ ]:
# Create an empty tuple
tup = ()
print('empty tuple:', tup)

empty tuple: ()

In [ ]:
# Create a tuple with some initial contents
tup = ('Python', 1024, 3.14, True)
print('non-empty tuple:', tup)

non-empty tuple: ('Python', 1024, 3.14, True)

In [ ]:
# the same value can occur multiple times in a tuple
tup = ('a', 'a', 'a')
print(tup)

('a', 'a', 'a')

## Tuple Operations
Because tuples are sequences, like strings, functions, operators, and loops that operate on strings also play well with tuples, for example:

In [ ]:
# the len function returns the length of a tuple
tup = (1, 2, 3, 4)
print(len(tup))     # returns size of a tuple
tup = (1, 2, 3, 4, 5)
print(len(tup))

4
5

In [ ]:
# indexing (like strings, tuple offsets start with zero!)
tup = (1, 2, 3)
print(tup[0])
print()
print('the whole tuple...')
print(tup)

1

the whole tuple...
(1, 2, 3)

In [ ]:
# indexing out of bounds raises a runtime error
tup = ('abc', 123, 3.14, True)
print(tup[99])

IndexError: ignored

In [ ]:
# loops
tup = (1, 2, 3)
for i in range(len(tup)):
  print(tup[i])

1
2
3

In [ ]:
# a better way to loop (a.k.a. iterate) over tuples...
x = (1, 2, 3)
for i in x:
  print(i)

1
2
3

In [ ]:
# the in operator (membership test)
x = 4
tup = (1, 2, 3, 4, 5)
if x in tup: # True if var’s value is in tuple
    print(tup, 'contains ', x)
else:
    print(tup, 'does NOT contain', x)

(1, 2, 3, 4, 5) contains  4

In [ ]:
# slicing
tup = (1, 2, 3, 4, 5)
print(tup[2:])   # prints 3rd through end of tuple
print(tup[:3])   # prints first through third from last
print(tup[2:4])

(3, 4, 5)
(1, 2, 3)
(3, 4)

In [ ]:
# the plus operator concatenates (combines) two tuples into one
t1 = (1, 2, 3)
t2 = (4, 5, 6)
print(t1 + t2)

(1, 2, 3, 4, 5, 6)

## Tuples are Immutable

Like strings, once created, you can't change a tuple.

In [ ]:
tup = (1, 2, 3)
print(tup[1])
tup[1] = 7

2

TypeError: ignored

But you can assign a new tuple to the same variable. You haven't changed the tuple, you've changed the association between a variable and it's value.

In [ ]:
tup = (1, 2, 3)
print(tup)
tup = (1, 3, 2)
# the tuple didn't change, the tup variable now points to different data!
print(tup)

(1, 2, 3)
(1, 3, 2)

## Nested Tuples
Just as you can have if statements of if statements (nested if statements), and loops of loops (nested loops). You can have also have tuples of tuples (nested tuples).
- tuple of tuples: ```((1, 2), (3, 4))```
- tuple of strings and tuples: ```('Hi', (1,2,3), "there")```
- tuple of tuple of tuples: ```(((1,2), (3,4)), ((5,6), (7,8)))
```

In [ ]:
# More readable tuple of tuples
nested_tuple = (
                 (
                   (1, 2),
                   (3, 4)
                 ),
                 (
                   (5, 6),
                   (7, 8)
                 )
               )
print(nested_tuple)

(((1, 2), (3, 4)), ((5, 6), (7, 8)))

# Lists

* A list is like a tuple but it's mutable (changeable).
* Almost everything you know about tuples also applies to lists.
* Lists are ordered sequences.
* All the sequence operations you learned about with strings and tuples, like `len`, indexing, slicing, looping, `in`, etc. apply to lists as well.

Lists are defined inside square brackets, with list elements separated by commas, for example...
```
['a', 'b', 'c', 1, 2, 3]
```

[List documentation](https://docs.python.org/3/library/stdtypes.html#list)

## Creating Lists

In [ ]:
# Create an empty list (lists use square brackets instead of parens)
li = []
print('empty list:', li)

empty list: []

In [ ]:
# Create and initialize a list with some data
li = ['Python', 123, 3.14, True]
print('non-empty list:', li)

non-empty list: ['Python', 123, 3.14, True]

In [ ]:
# the same value can occur multiple times in a list
li = ['a', 'a', 'a']
print(li)

['a', 'a', 'a']

## List Operations

In [ ]:
# The len() function gives us the size of a list.
li = ['abc', 123, 3.14, True, 5]
# get the size of a list
list_size = len(li)
print(list_size)

5

In [ ]:
li = ['abc', 123, 3.14, True, 99, 101, "another", "last one - I promise"]
# iterate (loop) over the elements in a list
for i in range(len(li)):
  print(li[i])

abc
123
3.14
True
99
101
another
last one - I promise

In [ ]:
# A better way to iterate over the elements in a list
li = ['abc', 123, 3.14, True, 99, 101, "another", "last one - I promise"]
for i in li:
  print(i)

abc
123
3.14
True
99
101
another
last one - I promise

In [ ]:
li = ['abc', 123, 3.14, True]
# test membership in a list

x = 3.14159
if not x in li:
 print(x, 'is not in list')
else:
 print(x, 'is in list')

3.14159 is not in list

In [ ]:
li = ['abc', 123, 3.14, True]
# indexing (list indexes start with zero!)
print(li[2])

3.14

In [ ]:
# indexing out of bounds raises a runtime error
li = ['abc', 123, 3.14, True]
print(li[99])

IndexError: ignored

In [ ]:
li = ['abc', 123, 3.14, True]
# slicing
print(li[1:3])

[123, 3.14]

In [ ]:
# concatenating lists
li1 = ['a', 1]
li2 = ['b', 2]
li3 = [99.99]
li4 = li1 + li2 + li3
print(li4)

['a', 1, 'b', 2, 99.99]

## Lists are Mutable
Unlike tuples and strings, we can change the contents of a list after it's created.

In [ ]:
# add an element
li = []
print(li)
li.append('elem1')
print(li)
li.append(400)
print(li)

[]
['elem1']
['elem1', 400]

In [ ]:
li = ['elem1', 'elem2']
print(li)
# remove an element
li.remove('elem1')
print(li)
# removes only first occurrence of 'element' in list
# differs from del because it’s based on value, not position

['elem1', 'elem2']
['elem2']

In [ ]:
li = ['elem1', 'elem2', 3, 99.9]
# remove & retrieve an element based on position
#elem = li.pop(0)
#print(elem)
#print(li)

print('start:', li)
for i in range(len(li)):
  elem = li.pop()
  print('removed', elem, 'remaining list:', li)

start: ['elem1', 'elem2', 3, 99.9]
removed 99.9 remaining list: ['elem1', 'elem2', 3]
removed 3 remaining list: ['elem1', 'elem2']
removed elem2 remaining list: ['elem1']
removed elem1 remaining list: []

In [ ]:
# If you remove an element that doesn't exist, Python gives a run time error.
# How can that be avoided? Test for existence before removing by value
li = ['elem1', 'elem2']
e = 'elem3'
li.remove(e)

ValueError: ignored

In [ ]:
li = ['elem1', 'elem2', 'elem3']
print(li)
# replace an element by index
li[1] = 'foo' # overwrites value at index 2
print(li)

['elem1', 'elem2', 'elem3']
['elem1', 'foo', 'elem3']

In [ ]:
# assignment to a non-existent element raises a runtime error
li = [1, 2, 3, 4, 5]
li[4] = 99 # causes error
print(li)

[1, 2, 3, 4, 99]

In [ ]:
li = ['abc', 123, 3.14, True]
print(li[1:3])
# assign to a list slice
li[1:] = [9,8,7.6]
print(li)

[123, 3.14]
['abc', 9, 8, 7.6]

In [ ]:
li = ['abc', 123, 3.14, True]
# delete a list element
del li[2]
print(li)

['abc', 123, True]

In [ ]:
li = ['abc', 123, 3.14, True]
# delete a list slice
del li[1:3]
print(li)

['abc', True]

In [ ]:
li = ["Maya", "Marc", "Maria"]
print('original:', li)

# sorting a list
li.sort()
print('sorted:', li)
# sorts in ascending order (small to large) by default
# to sort in descending order, use this syntax:
li.sort(reverse=True)
print('reverse sorted:', li)
li.sort()
print('re-sorted:', li)

original: ['Maya', 'Marc', 'Maria']
sorted: ['Marc', 'Maria', 'Maya']
reverse sorted: ['Maya', 'Maria', 'Marc']
re-sorted: ['Marc', 'Maria', 'Maya']

In [ ]:
li = ['abc', 123, 3.14, 'abc', 'abc', True, 'abc', 123]
# get the number of occurrences of a particular value
count = li.count('abc')
print(count)

4

In [ ]:
li = ['abc', 123, 3.14, True, 123]
# get the (first) index of a particular value
index = li.index(True)
print(index)

3

In [ ]:
li = ['abc', 123, 3.14, True, 123]
# reverse a list
li.reverse()
print(li)
li.reverse()
print(li)

[123, True, 3.14, 123, 'abc']
['abc', 123, 3.14, True, 123]

## Nested Lists

Just as we saw tuples of tuples, we can also have also have lists of lists. In fact, we can even have lists of tuples and tuples of lists!

- list of lists: ```[[1, 2], [3, 4]]```
- lists of tuples: ```[(1, 2), (3,4)]```
- tuples of lists: ```([1, 2], [3, 4]])```


We can even have lists of lists of tuples of lists of strings...
you get the idea, this can get arbitrarily complex.
Fortunately, most of the time you only need to use one or two levels, although occasionally you may need to go deeper.

### Example

Imagine I want to maintain a list of students and their quiz scores. If I think about just one particular student, I might like to store the student's name and each quiz score up to the current lesson.  I'd want to use a list because I'm going to want to add quiz results every week and, occasionally, I might need to change a grade.

Here's the data for one student...

In [ ]:
student = [ 'Sara', 95, 100, 90 ]
print(student)

['Sara', 95, 100, 90]


But we have many students, so I need to store one instance of that list for every student.
That collection also needs to be mutable, because I may need to add or delete students over time.

This seems like a job for a list of lists, like this one...

In [ ]:
students = [
    [ 'Sara', 95, 100, 90 ],
    [ 'Mary', 90, 95, 100 ],
    [ 'Marc', 85, 90 ]
]
print(students)

[['Sara', 95, 100, 90], ['Mary', 90, 95, 100], ['Marc', 85, 90]]

In [ ]:
x = ['marc']
y = (1, 2, x)

print(y)
print(y[2])
y[2] = 12
y[2].append('Maya')
print(y)

(1, 2, ['marc'])
['marc']

TypeError: ignored

We can access a sublist, i.e. one of the lists in this list of lists, like this...

In [ ]:
students = [
    [ 'Sara', 95, 100, 90 ],
    [ 'Mary', 90, 95, 100 ]
]
student = students[0] # get data for Mary
print(student)

['Sara', 95, 100, 90]

We can access an element of a sublist, like this...

In [ ]:
# get Mary's second test score
students = [
    [ 'Sara', 95, 100, 90 ],
    [ 'Mary', 90, 95, 100 ]
]
score = students[1][2]
print(score)

95

Let's now generate a table of average scores for each student, effectively each student's final grade...

In [ ]:
students = [
    [ 'Sara', 95, 100, 90, 98, 95, 99, 93, 97 ],
    [ 'Marc', 90, 95, 100, 90, 100, 93, 74 ],
    [ 'Maya', 90, 80, 100, 99, 815]
]
#print(students)

for student in students:
  total = 0
  count = len(student)
  for score in student[1:]:
    total += score
  average = total / (count - 1)
  print(student[0], average)

Sara 95.875
Marc 91.71428571428571
Maya 236.8

# Dictionaries

A dictionary is an organized collection of key/value pairs.
The data is organized for quick access via the key, somewhat like a real dictionary, where words are the keys and their definitions are the associated values.

Dictionaries are defined using curly braces with key:value pairs separated by commas, like this:
```
websites = {
  'google': 'https://google.com',
  'youtube': 'https://youtube.com',
  'baidu': 'https://baidu.com',
}
```

This data type is known by various names in other languages:
- map (C++)
- hashmap (Java)
- associative array (generic term)

This object type is extremely powerful for representing indexed data. The keys in a dictionary are arranged to facilitate fast lookup by key value.
- They are optimized for direct, not sequential, access
- There is no implied order of keys or values
- You can't index a dictionary by position
- But you can index dictionaries by key value, as we’ll see
- You can't take slices of a dictionary
- Dictionaries are mutable, like lists, they can grow, shrink, or change over time

- Dictionary keys must be immutable (e.g., string, number, tuple) because changing keys on the fly would confuse the dictionary.
- Dictionary values can have any type (mutable or immutable).

[Dictionary documentation](https://docs.python.org/3/library/stdtypes.html#mapping-types-dict)

## Dictionary Operations

In [ ]:
# Create an empty dictionary (use curly braces instead of parens or square brackets)
grades = {}
print(grades)

{}

In [ ]:
# Create and initialize a dictionary
grades = { 'Sara' : 95, 'Mary': 100 }
print(grades)

{'Sara': 95, 'Mary': 100}

In [ ]:
# If the same key occurs multiple times, python only keeps the last value
x = { 'a' : 1, 'a' : 2 }
print(x)

{'a': 2}

In [ ]:
# but the same value may appear any number of times.
x = { 'a' : 1, 'b' : 1 }
print(x)

{'a': 1, 'b': 1}

In [ ]:
# Get the size of a dictionary (returns number of key/value pairs)
grades = { 'Sara' : 95, 'Mary': 100 }
print(len(grades))

2

In [ ]:
# Retrieve the value associated with a given key
grades = { 'Sara' : 95, 'Mary': 100 }
grade = grades['Sara']
print(grade)

95

In [ ]:
# The value inside the square brackets may be a literal, a variable or any
# arbitrary expression. Similar syntax to list/tuple indexing but key based,
# not positional.
grades = { 'Sara' : 95, 'Mary': 100 }
# Attempting to retrieve a non-existent key causes an error
x = 'Sara'
grades[x]

95

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100 }
# play it safe by testing for key existence before access
grade = grades[student]
if student in grades:
  grade = grades[student]
  print('grade for', student, 'is', grade)
else:
  print('student', student, 'not found')

# When used with dictionaries, the in operator only checks the existence
# of keys, not values. You can also use “not in” to test for non-existence
# of a key.

KeyError: ignored

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 35 }
# loop through a dictionary (this iterates over the dictionary keys)
for i in grades:
    print(i, grades[i])

Sara 95
Mary 100
Marc 35

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 35 }
# By default, the keys will appear in random order. You can iterate keys in order by sorting them first:
for i in sorted(grades):
    print(i, grades[i])

Marc 35
Mary 100
Sara 95

## Dictionaries are Mutable

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100 }
print('before:', grades)
#Add a key/value pair
grades['Marc'] = None # new, no grade yet
print('after:', grades)

before: {'Sara': 95, 'Mary': 100}
after: {'Sara': 95, 'Mary': 100, 'Marc': None}

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': None }
print('before:', grades)
grades['Marc'] = 80 # grade recorded
print('after1:', grades)
grades['Marc'] += 5 # increment Marc's grade
print('after2:', grades)
grades['Marc'] += 5 # increment Marc's grade
print('after2:', grades)

before: {'Sara': 95, 'Mary': 100, 'Marc': None}
after1: {'Sara': 95, 'Mary': 100, 'Marc': 80}
after2: {'Sara': 95, 'Mary': 100, 'Marc': 85}
after2: {'Sara': 95, 'Mary': 100, 'Marc': 90}

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 85 }
# delete a key/value pair
del grades['Marc'] # Fred dropped the course
print(grades)

{'Sara': 95, 'Mary': 100}

In [ ]:
grades = { 'Sara' : 95, 'Mary': 100, 'Marc': 85 }
# Trying to delete a key that doesn't exist will cause a runtime error.
del grades['Fred']

KeyError: ignored

## Nested Dictionaries
Just like we can have nested if statements, nested loops, nested tuples, and nested lists, we can also have nested dictionaries.
- dictionary of tuples:  ```{'key1': (1,2), 'key2': (3,4)}```
- dictionary of lists:  ```{'key1': [1,2], 'key2': [3,4]}```
- dictionary of dictionaries:
```
{
    'key1' : {
      'key1' : [1, 2],
      'key2' : [3, 4]
    }
    'key2' : {
      'key1' : [1, 2],
      'key2' : [3, 4]  
    }
}
```
This can get arbitrarily complex (dictionaries of lists of tuples of dictionaries of...).

Once again, imagine I want to maintain a list of students and their quiz scores. If I think about just one particular student, I might like to store the student's name and each quiz score up to the current lesson. I need a mutable sequence (i.e. a list) because I'm going to want to add quiz results every week, like this:
```
student = [ 'Jeff', 95, 100, 90 ]
```
Even more convenient would be to organize the test scores by student name that way I can efficiently find any given student's scores by their name (i.e. by indexing on the dictionary key).

This leads us to a dictionary of lists:
```
grades = {
           'Sara' : [95, 100, 90],
           'Mary' : [90, 95, 100]
         }
```
To add a student:
```
grades[student] = []
```
To delete a student:
```
del grades[student]
```
To add a new score for a student:
```
grades[student].append(new_score)
```
To replace the 2nd quiz score for a student:
```
grades[student][1] = new_score
```

## Rule of thumb for truth value of tuples, lists, and dictionaries

All of these objects may be used as boolean values. The rules for converting a tuple, list, or map into a boolean value are as follows:
- if the object is empty, it evaluates to False
- if the object is non-empty, it evaluates to True

In [ ]:
def empty(collection):
  if collection:
    return 'is NOT empty.'
  else:
    return 'is empty.'

print('tuple test...')
for i in (), (1,2,3), ('a', 1), (None,):
  print(i, empty(i))

tuple test...
() is empty.
(1, 2, 3) is NOT empty.
('a', 1) is NOT empty.
(None,) is NOT empty.

In [ ]:
def empty(collection):
  if collection:
    return 'is NOT empty.'
  else:
    return 'is empty.'

print('list test...')
for i in [], [1,2,3], ['a', 1], [None]:
  print(i, empty(i))

In [ ]:
def empty(collection):
  if collection:
    return 'is NOT empty.'
  else:
    return 'is empty.'

print('dictionary test...')
for i in {}, {1: 2, 3: 4}, {'a':1, 'b':2, 'c':3}, {None:None}:
  print(i, empty(i))

# Let's do a project together

## High Level Methodology
```
write_problem_statement()
define_requirements()
modules = decompose_into_modules()

for module in modules:
  module.implement()
  while not module.test():
    module.fix()

app = integrate(modules)
while not app.test():
    app.fix()
    
app.ship()
```

## Problem Statement
Enable people to automatically find articles of interest from their favorite websites.

## Requirements

### Must
- must maintain a configurable list of target websites
- must find all articles featured on the front page
- must keep track of what we've already seen
- must support a configurable list of keywords to select articles of interest
- must be automated, no manual steps other than running the app
- must present results via web app

### Should
- should be able to automatically and regularly run app on a scheduled basis
- should provide ability to send daily summaries by email
- should provide a more sophisticated way of gauging interest than simple keyward scanning (e.g. machine learning)
- should eventually run in the cloud

## Module Decomposition
- we can follow a pattern that many data science projects involve
```
modules = ['snarf', 'wrangle', 'model', 'serve']
```

1. **snarf** - data gathering, getting your hands on the things you care about
1. **wrangle** - data engineering, convert the data into a format you can use
1. **model** - data modeling, build prediction and/or classification model(s) to categorize and assess discovered data
1. **serve** - data visualization, build a web app to present the results regularly

## Module 1 - snarf

Given a list of websites, parse the front page of each and automatically gather all available articles.

## Take baby steps...

I'm going to start just working with one website (the New York Times). Later we'll generalize this to work with more sites.

## Step 1 - Build a Framework

In [ ]:
# dictionary of sites we want to monitor
sites = [
  'nytimes.com',
]

'''
# dictionary of fake data for initial setup and testing
fake_nyt_data = [
      {'headline': 'blah blah puzzle blah', 'summary': 'summary', 'link': 'link'},
      {'headline': 'politics Trump blah blah blah', 'summary': 'summary', 'link': 'link'},
      {'headline': 'blah blah blah', 'summary': 'summary', 'link': 'link'},
      {'headline': 'the beatles music', 'summary': 'summary', 'link': 'link'},
      {'headline': 'streaming chess on twitch', 'summary': 'summary', 'link': 'link'},
      {'headline': 'more blah blah blah', 'summary': 'summary', 'link': 'link'},
      {'headline': 'math is fun', 'summary': 'summary', 'link': 'link'},
]
'''

# tuple of interest keywords
interests = (
  'chess',
  'math',
  'puzzle',
  'music',
  'books'
)

# print('sites:', sites)
# print('interests:', interests)

def get_new_articles(url):
  if url == 'nytimes.com':
    return fake_nyt_data
  else:
    return []

def extract_keywords(article):
  return article.split()

for site in sites:
  # crawl site getting articles we haven't seen before
  articles = get_new_articles(site)
  # iterate over found articles
  for i in articles:
    keywords = extract_keywords(i['headline'])
    matches = []
    for interest in interests:
      if interest in keywords:
        matches.append(i)
        break
    for match in matches:
      print('-----------------------------')
      print(match)

## Step 2 - implement the `get_new_articles()`

[Tutorial](https://medium.com/@ProxiesAPI.com/scraping-the-new-york-times-with-python-and-beautiful-soup-6e5f3bc58e39)

In [ ]:
import requests, bs4

def get_new_articles(site):
  res = requests.get(site)
  articles = []
  parsed_page = bs4.BeautifulSoup(res.text, 'html.parser')
  for item in parsed_page.select('.assetWrapper'):
    headline = summary = link = ''
    if item:
      selected = item.find('h2')
      if selected:
        headline = selected.get_text()
      selected = item.find('a')
      if selected:
        link = selected['href']
      selected = item.find('p')
      if selected:
        summary = selected.get_text()
    articles.append({'headline': headline, 'summary': summary, 'link': link})
  return articles

articles = get_new_articles('https://nytimes.com')
for i in articles:
  print('-----------------------------')
  if len(i) > 0:
    print('headline:', i['headline'])
    print('summary:', i['summary'])
    print('link:', i['link'])

-----------------------------
headline: Listen to ‘The Daily’
summary: The killing of Breonna Taylor, part 1.
link: /2020/09/09/podcasts/the-daily/breonna-taylor.html
-----------------------------
headline: The Book Review Podcast
summary: Jeffrey Toobin on President Trump; Elena Ferrante’s new novel.
link: /2020/09/04/books/review/podcast-jeffrey-toobin-true-crimes-misdemeanors-trump-dayna-tortorici-elena-ferrante.html
-----------------------------
headline: Coronavirus Schools Briefing
summary: It’s back to school — or is it?
link: https://www.nytimes.com/newsletters/coronavirus-schools-briefing
-----------------------------
headline: D.H.S. Leaders Played Down Russia and White Supremacists, Whistle-Blower Says
summary:
link: /2020/09/09/us/politics/homeland-security-russia-trump.html
-----------------------------
headline: Election Updates: Trump Admitted to Playing Down Virus Threat, Book Says
summary: President Trump told the journalist Bob Woodward early this year that he knew the coronavirus was “deadly” and more serious than the flu. Here’s the latest.
link: https://www.nytimes.com/live/2020/09/09/us/trump-vs-biden
-----------------------------
headline: President Trump called U.S. generals weak and too focused on allies, according to Bob Woodward’s book.
summary:
link: /2020/09/09/us/politics/trump-generals-attacks.html
-----------------------------
headline: N.I.H. Director Undercuts Trump’s Comments on a Vaccine by Election Day
summary:
link: /2020/09/09/world/covid-coronavirus.html
-----------------------------
headline: N.Y.C. to Allow Indoor Dining, in Milestone on Recovery From Pandemic
summary: Gov. Andrew Cuomo announced that restaurants can open for indoor service at 25 percent capacity, starting on Sept. 30.
link: /2020/09/09/nyregion/indoor-dining-coronavirus.html
-----------------------------
headline: Summer Jet-Setters Turned Sardinia Into a Virus Hot Spot
summary: Silvio Berlusconi went in August. So did his friend. Both are among hundreds of Covid-19 cases linked to the Italian island, a favorite of rich partygoers.
link: /2020/09/09/world/europe/coronavirus-sardinia-italy.html
-----------------------------
headline: Tracking the Coronavirus ›
summary:
link: https://www.nytimes.com/interactive/2020/us/coronavirus-us-cases.html
-----------------------------
headline: How a Massive Bomb Came Together in Beirut’s Port
summary: Fifteen tons of fireworks. Jugs of kerosene and acid. Thousands of tons of ammonium nitrate. A system of corruption and bribes let the perfect bomb sit for years.
link: /interactive/2020/09/09/world/middleeast/beirut-explosion.html
-----------------------------
headline: Wildfire Updates: Smoke Blocks Out the Sun in Northern California
summary: Wind and heat fueled the growing fires, which have led to dramatic escape scenes and an ominous orange glow in the sky in the Bay Area. Follow updates.
link: /2020/09/09/us/wildfires-live-updates.html
-----------------------------
headline: ‘You Couldn’t See Anything’: Harrowing Rescues as California Fires Rage
summary: Two military veterans who led a helicopter rescue this weekend said it was the most challenging flying of their careers.
link: /2020/09/08/us/california-wildfires-helicopter-rescue.html
-----------------------------
headline: The Children in the Shadows: New York City’s Homeless Students
summary: More than 100,000 city public school students lack permanent housing, caught in bureaucratic limbo that often seems like a trap. This is what their lives are like.
link: /interactive/2020/09/09/magazine/homeless-students.html
-----------------------------
headline:
summary:
link:
-----------------------------
headline: The Electoral College Will Destroy America
summary: And no, New York and California would not dominate a popular vote.
link: /2020/09/08/opinion/electoral-college-trump-biden.html
-----------------------------
headline: How One Man Conned the Beltway
summary: The billion-dollar “Black Budget” demands secrecy. That made it a perfect target.
link: /2020/09/09/opinion/garrison-courtney-spies-contracts.html
-----------------------------
headline: Tom Brady, Florida Man in Full
summary: After 20 years — and six Super Bowl wins — in New England, the most recognizable quarterback in the N.F.L. is working to rebrand his new home.
link: /2020/09/09/sports/football/tom-brady-tampa-bay-buccaneers.html
-----------------------------
headline: Guitars Are Back, Baby!
summary: Painted by some as a boomer relic just years ago, the guitar is seeing a revival that may just extend past the quarantine stress-purchase bounce.
link: /2020/09/08/style/guitar-sales-fender-gibson.html
-----------------------------
headline: A Man, a Pint and a Timer Become Symbols of Ireland’s Pandemic Rules
summary: A photo of an older man having a meal in a pub started a national conversation about coronavirus regulations and life’s simple pleasures.
link: /2020/09/09/world/europe/ireland-pub-viral-photo.html

#Lesson 4 Homework
* Make a copy of this notebook (if you haven't already done so) and complete the challenges above. You can make a copy of this notebook by selecting File->Save a copy in Drive from the menu bar above.
* Review your copy of this notebook.
  * Complete the questions below.
  * If something is unclear, experiment and see if you can understand it better.
* For those who want to go deeper...
  * Read [Chapter 12 - Web Scraping](https://automatetheboringstuff.com/2e/chapter12/) in our textbook to learn more about web scraping.

##Question 1

I have a list of things I need to buy from my supermarket of choice.

I want to know what the first thing I need to buy is. However, when I run the program it shows me a different answer than what I was expecting. What is the mistake? Can you fix it in the cell below?

In [ ]:
shopping_list = [
  "oranges",
  "cat food",
  "sponge cake",
  "long-grain rice",
  "cheese board",
]

print(shopping_list[1])

In [ ]:
#@title Double click here to reveal solution

print(shopping_list[0]) # because sequence indexes start with zero

##Question 2

I'm setting up my own market stall to sell chocolates. I need a basic till to check the prices of different chocolates that I sell. I've started the program and included the chocolates and their prices. Finish the program by asking
the user to input an item and then output its price.

In [ ]:
chocolates = {
  'white': 1.50,
  'milk': 1.20,
  'dark': 1.80,
  'vegan': 2.00,
}

# Add your code here.

In [ ]:
#@title Double click here to reveal solution

chocolates = {
  'white': 1.50,
  'milk': 1.20,
  'dark': 1.80,
  'vegan': 2.00,
}

while True:
  item = input("Enter the desired item (q to quit): ").lower()
  if item == 'q':
    break
  if item in chocolates:
    print('The price for {} chocolate is £{:.2f}.\n'.format(item, chocolates[item]))
  else:
    print('Sorry, we don\'t sell {} chocolate.\n'.format(item))

##Question 3
Write a program that simulates a lottery. The program should have a list of seven numbers that
represent a lottery ticket. It should then generate seven random numbers. After comparing the two
sets of numbers, the program should output a prize based on the number of matches:
- £20 for three matching numbers
- £40 for four matching numbers
- £100 for five matching numbers
- £10000 for six matching numbers
- £1000000 for seven matching numbers

In [ ]:
# Add your code here

In [ ]:
#@title Double click here to reveal solution.

import random
my_numbers = random.choices(range(1, 99), k=7)
print('your numbers are: ', my_numbers)
winning_numbers = random.choices(range(1, 99), k=7)
print('winning numbers are: ', winning_numbers)

hits = 0
for i in my_numbers:
  if i in winning_numbers:
    hits += 1  # shorthand for hits = hits + 1

prizes = {
  3: 20,
  4: 40,
  5: 100,
  6: 10000,
  7: 1000000
}

if hits in prizes:
  print('** You matched {} numbers and won £{}! **'.format(hits, prizes[hits]))
else:
  print('Sorry, no prize won, better luck next time!')

## Question 5
- See if you can run the programs you wrote above in the **Mu** editor on your own computer.

## Question 6
- Combine the step 1 framework with the `get_new_articles()` function in our shared project and test the combination.
- Try running this program locally in Mu.

[Previous Lesson](https://pylearn.io/lessons/6-Functions/)
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
[Next Lesson](https://pylearn.io/lessons/8-Files/)